@import "tailwindcss";

@theme {
  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-500: #5e82a6;
  --color-primary-600: #4c6b8a;
  --color-primary-700: #3c546c;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #1b2631;
  --color-primary-950: #141c24;

  --color-secondary-50: #f3faf5;
  --color-secondary-100: #dff4e5;
  --color-secondary-200: #bfe9cc;
  --color-secondary-300: #99dbad;
  --color-secondary-400: #6fcf8e;
  --color-secondary-500: #4cb973;
  --color-secondary-600: #38995c;
  --color-secondary-700: #2e7a4b;
  --color-secondary-800: #235c38;
  --color-secondary-900: #173e26;
  --color-secondary-950: #0f2c1a;
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}
